---
layout: default_wrapper
title: Curriculum Vitae
---

<h2>{{ page.title }}</h2>

<ul>
  <li><a href="#">contact details</a></li>
  <li><a href="#">technical skills</a></li>
  <li><a href="#">other skills</a></li>
  <li><a href="#">education</a></li>
</ul>

<h3><a href="#">Contact Details</a></h3>

Name: Bao Dat Nguyen The <br>
E-mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a>

<h3><a href="#">Technical Skills</a></h3>

{% for skill in site.data.program_skills %}
  {{ skill.skill }} - {{ skill.level }} <br>
{% endfor %}

<h3><a href="#">Other Skills</a></h3>
  <table>
    <tr>
      <th>Language</th>
      <th>Proficiency</th>
    </tr>
    {% for lang in site.data.language_skills %}
    <tr>
      <td>{{ lang.language }}</td>
      <td>{{ lang.level  }}</td>
    </tr>
    {% endfor %}
  </table>

<h3><a href="#">Formal Education</a></h3>
  <ul>
    <li>Elementary School Osloboditeľská 1, Bratislava</li>
    <li>Grammar School Grosslingová 18, Bratislava</li>
    <li>Slovak University of Technology, Faculty of Informatics</li>
  </ul>

<h3><a href="#">Work Experience</a></h3>

<ul>
<li>cashier</li>  
</ul>
